@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(139,92,246);
background: -moz-radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(76,29,149,1) 48%, rgba(28,28,28,1) 100%);
background: -webkit-radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(76,29,149,1) 48%, rgba(28,28,28,1) 100%);
background: radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(76,29,149,1) 48%, rgba(28,28,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b5cf6",endColorstr="#1c1c1c",GradientType=1);
	height: 100vh;
}
